@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');

*{
    margin: 0px;
}

 /*#b6f7b5
   #bacfba
   #92ff90
   #467a45
   #3b503b
 */
 :root{
    --cor0: #b6f7b5;
    --cor1: #bacfba;
    --cor2: #92ff90;
    --cor3: #467a45;
    --cor4: #3b503b;
    --duckf: 'Kirang Haerang';
 }

body{ 
background-color:var(--cor0);
font-family: Arial, Helvetica, sans-serif;
}
p{
padding: 0px 0px 4px 5px;
font-size: 1.05em;
font-family: 'Times New Roman', Times, serif;
}
header{
padding-top: 13px;
background-image:linear-gradient(to right,#467a45, #304430 93%);
padding: 5px;
height: 111px;
max-width: 820px;
margin: auto;
border-radius: 10px;
box-shadow: 2px 0px 7px 1px;
}
header h1{
font-size: 3em;
font-family: var(--duckf);
width: fit-content;
}
.patinav{
    position: absolute;
    top: 0;
    right: 0;
    width: 128px;
    height: 128px;
}
.container{
    position: relative;
}
header p{
    width: fit-content;
}
header a{
    padding-right: 20px;
    color: #000000;
}
header a:hover{
    color: var(--cor4);
}
header a:active{
    color: var(--cor2); 
}
nav{
    margin-top: 15px;
    width: fit-content;
}
main{
    background-color:  #ffffff;
    border-radius: 10px;
    box-shadow: 2px 4px 7px 1px;
    max-width: 830px;
    margin: auto;
}
main h1{
    font-size: 1.7em;
    padding: 5px 0px 5px 6px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
#duck{
    margin: auto;
    width: 25%;

}
a{
    text-decoration: none;
    color:rgb(43, 43, 167) ;
}
abbr{
    text-decoration: none;
}
a:hover{
    color: rgb(35, 35, 135);
}
a:active{
    color: #00ffffb4;
}
footer{
    margin: auto;
    margin-top: 0px;
    max-width: 830px;
    background-color: var(--cor3);
    border-radius: 10px;
}
footer p{
    text-align: center;
    padding: 8px;
    
}
